{% extends 'index.html' %}

{% block content %}

{% load static %}

<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Prediksi Model ARIMA Harga {{ komoditas }}</span></h4>

    <!-- Responsive Table -->
    
    <div class="row">
      <div class="col-md-9" id="chartlist">
        
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <form onsubmit="return submitForm(event)">
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label class="form-label" for="startf">Pilih Model</label>
                  <select class="form-control" id="model" placeholder="Start Ramal" required/>
                    
                  </select>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="startf">Start Ramal</label>
                  <input type="text" class="form-control" id="startf" placeholder="Start Ramal" required readonly/>
                </div>
                <div class="mb-3">
                  <label class="form-label" for="endf">End Ramal</label>
                  <input type="text" class="form-control" id="endf" placeholder="End Ramal" required/>
                </div>
                <button type="submit" class="btn btn-success"><i class="bx bx-right-arrow-alt"></i> Lanjut</button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--/ Responsive Table -->
  </div>
  <script>
    let newDate = moment('{{ end }}', "YYYY-MM-DD").add(1, 'days');
    let day = newDate.format('DD');
    let month = newDate.format('MM');
    let year = newDate.format('YYYY');
    let fixDate = year + '-' + month + '-' + day;
    document.getElementById("startf").value = fixDate;

    const picker = document.getElementById('endf');
    const datepicker = new Datepicker(picker, {
      autohide: true,
      buttonClass: 'btn',
      format: 'y-mm-dd',
      minDate: new Date(fixDate),
    });

    function submitForm(e) {
      e.preventDefault();
      let model = document.getElementById("model").value;
      let startf = document.getElementById("startf").value;
      let endf = document.getElementById("endf").value;
      location.href = '/prediksi/hasil/{{ id_kmd }}/{{ start }}/{{ end }}/'+model+'/'+startf+'/'+endf;
      return false;
    }

    function numberWithCommas(x) {
      let parts = x.toString().split(".");
      parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      return parts.join(".");
    }

    getData();

    function getData() {
      let data = {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          start: '{{ start }}',
          end: '{{ end }}',
          komoditas_id: '{{ id_kmd }}',
          p: '{{ p }}',
          d: '{{ d }}',
          q: '{{ q }}',
      };
      let params = typeof data == 'string' ? data : Object.keys(data).map(
          function(k){ return encodeURIComponent(k) + '=' + encodeURIComponent(data[k]) }
      ).join('&');
      
      fetch("{% url 'get_model' %}", {
          method: 'post',
          body: params,
          headers: {
              'X-Requested-With': 'XMLHttpRequest',
              'Content-Type': 'application/x-www-form-urlencoded'
          }
      }).then((response) => {
          return response.json();
      }).then((res) => {
        if (res.success == true) {
          let data = res;
          console.log(data)
          let actual = data.actual;
          let model = data.model;
          let pastdatelist = data.pastdatelist;
          let allmodel = [];
          let taballmodel = [];
          let htmselect = '';
          let htm = '';
          for (let i = 0; i < model.length; i++) {
            let modelpdq = JSON.stringify(model[i]['modelpdq']).replace('[', '').replace(']', '');
            htmselect += '<option value="'+model[i]['modelpdq'][0]+'/'+model[i]['modelpdq'][1]+'/'+model[i]['modelpdq'][2]+'">ARIMA('+modelpdq+')</option>';

            htm += '<div class="row mb-4">';
              htm += '<div class="col-xl-12">';
                htm += '<div class="nav-align-top mb-4 mt-3">';
                  htm += '<ul class="nav nav-tabs" role="tablist">';
                    htm += '<li class="nav-item">';
                      htm += '<button ';
                      htm += 'type="button"';
                      htm += 'class="nav-link active"';
                      htm += 'role="tab"';
                      htm += 'data-bs-toggle="tab"';
                      htm += 'data-bs-target="#navs-top-home'+i+'"';
                      htm += 'aria-controls="navs-top-home'+i+'"';
                      htm += 'aria-selected="true"';
                      htm += '>';
                      htm += 'Chart';
                      htm += '</button>';
                    htm += '</li>';
                    htm += '<li class="nav-item">';
                      htm += '<button ';
                      htm += 'type="button"';
                      htm += 'class="nav-link"';
                      htm += 'role="tab"';
                      htm += 'data-bs-toggle="tab"';
                      htm += 'data-bs-target="#navs-top-profile'+i+'"';
                      htm += 'aria-controls="navs-top-profile'+i+'"';
                      htm += 'aria-selected="false"';
                      htm += '>';
                      htm += 'Table';
                      htm += '</button>';
                    htm += '</li>';
                  htm += '</ul>';
                  htm += '<div class="tab-content">';
                    htm += '<div class="tab-pane fade show active" id="navs-top-home'+i+'" role="tabpanel">';
                      htm += '<div id="container'+i+'"></div>';
                      htm += '<p><b>RMSE (Root Mean Squared Error)</b> : '+model[i]['rmse'].toFixed(3)+'</p>';
                      htm += '<p><b>MAPE (Mean Absolute Percentage Error)</b> : '+model[i]['mape'].toFixed(3)+'%</p>';
                    htm += '</div>';
                    htm += '<div class="tab-pane fade" id="navs-top-profile'+i+'" role="tabpanel">';
                      htm += '<div class="table-responsive text-nowrap">';
                        htm += '<table id="table-content'+i+'" class="table table-striped" style="width:100%">';
                          htm += '<thead>';
                            htm += '<tr class="text-nowrap">';
                              htm += '<th>No.</th>';
                              htm += '<th>Tanggal</th>';
                              htm += '<th>Harga Aktual</th>';
                              htm += '<th>Harga Ramal</th>';
                            htm += ' </tr>';
                          htm += '</thead>';
                          htm += '<tbody>';
                            htm += '<tr class="text-nowrap">';
                              htm += '<td colspan="5"><center>Loading...</center></td>';
                            htm += '</tr>';
                          htm += '</tbody>';
                        htm += '</table>';
                      htm += '</div>';
                    htm += '</div>';
                  htm += '</div>';
                htm += '</div>';
              htm += '</div>';
            htm += '</div>';

            let chartmodel = [
              {
                'name': actual.name,
                'data': actual.data
              },
              {
                'name': 'Data Ramal ARIMA('+modelpdq+')',
                'data': model[i]['fitted']
              }
            ]
            allmodel.push(chartmodel);
            let arrtablemodel = [];
            for (let j = 0; j < model[i]['fitted'].length; j++) {
              let tablemodel = {
                'date': pastdatelist[j],
                'aktual': actual['data'][j],
                'ramal': model[i]['fitted'][j]
              }
              arrtablemodel.push(tablemodel);
            }
            taballmodel.push(arrtablemodel);
          }
          console.log(taballmodel);
          document.getElementById("model").innerHTML = htmselect;
          document.getElementById("chartlist").innerHTML = htm;
          buildChart(pastdatelist, allmodel);
          buildTable(taballmodel);
        } else {
          
        }
      }).catch((error) => {
      });
    }

    function buildTable(taballmodel) {
      for (var i in taballmodel) {
        $('#table-content'+i).DataTable({
          responsive: true,
          language: {
            "sEmptyTable": "No data available",
            "paginate": {
              "previous": "<i class='menu-icon tf-icons bx bx-chevrons-left'></i>",
              "next": "<i class='menu-icon tf-icons bx bx-chevrons-right'></i>"
            },
            "loadingRecords": "Loading..."
          },
          data: taballmodel[i],
          columns: [
            { "data": null, 
              render: function (data, type, row, meta) {
                return meta.row + meta.settings._iDisplayStart + 1;
              }  
            },
            { data: 'date' },
            { data: 'aktual',
              render: function (data, type, row, meta) {
                return 'Rp ' + numberWithCommas(data);
              }
            },
            { data: 'ramal',
              render: function (data, type, row, meta) {
                return 'Rp ' + numberWithCommas(data.toFixed(2));
              }
            }
          ]
        });
      }
    }

    function buildChart(pastdatelist, allmodel) {
      for (var i in allmodel) {
        new Highcharts.Chart({
          chart: {
            renderTo: 'container'+i,
            type: 'line',
            zoomType: 'xy'
          },
          title: {
            text: 'Data Harga {{ komoditas }}'
          },
          yAxis: {
            title: {
              text: 'Harga (Rp)'
            }
          },
          xAxis: {
            title: {
              text: 'Tanggal'
            },
            type: 'datetime',
            labels: {
              format: '{value:%Y-%b-%e}'
            },
            categories: pastdatelist.map(x=>Date.parse(x))
          },
          legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
          },
          plotOptions: {
            line: {
              dataLabels: {
                enabled: true
              },
              enableMouseTracking: true
            }
          },
          series: allmodel[i],
          responsive: {
            rules: [{
              condition: {
                maxWidth: 500
              },
              chartOptions: {
                legend: {
                  layout: 'horizontal',
                  align: 'center',
                  verticalAlign: 'bottom'
                }
              }
            }]
          }
        });
      }
    }
  </script>
{% endblock %}